<h1 class="display-4">Options</h1>
<section class="container-fluid main-container d-flex flex-wrap justify-content-center">
  <div class="card p-2 w-25" *ngFor="let type of types" (click)="onCategorySelected(category)">
    <div class="card-body ">
      <h5 class="card-title"> {{type}}</h5>
    </div>
  </div>
    <div class="card p-2 w-25 mt-4" *ngFor="let dif of difficulty" (click)="onCategorySelected(category)">
    <div class="card-body ">
      <h5 class="card-title"> {{dif}}</h5>
    </div>
  </div>
  <div class="card p-2 mt-4" *ngFor="let number of numberOfQuestions" (click)="onCategorySelected(category)">
    <div class="card-body ">
      <h5 class="card-title"> {{number}}</h5>
    </div>
  </div>
</section>

