<h1 class="display-4">Question {{currentQuestionCount}}</h1>
  <section class="container-fluid main-container d-flex flex-wrap justify-content-center" >
    <h3 class="text-center mb-4 w-75" [innerHtml]="currentQuestion.question | decodeHtmlEntities"> {{ currentQuestion.question }}</h3>
    <div class="container-fluid main-container d-flex flex-wrap justify-content-center" >
      <div class="card p-0 " *ngFor="let alternative of alternatives" (click)="onSelectAnswer(alternative)">
      <div class="card-body ">
        <h5 class="card-title" [innerHtml]="alternative | decodeHtmlEntities"> {{ alternative }}</h5>
      </div>
      </div>
    </div>
  </section>
