<h1 class="display-4">Scoreboard</h1>
  <section class="container-fluid main-container d-flex flex-wrap justify-content-center">
    <h3 class="text-center mb-4 w-75"></h3>
    <div class="container-fluid main-container d-flex flex-wrap justify-content-center" >
      <div class="card p-0 ">
        <img class="card-img-top" src="../../../assets/images/score-image.jpg" alt="Photo by Heather Ford https://www.themodernlifemrs.com/">
      <div class="card-body">
        <h2 class="card-title"> Result</h2>
        <h3>  You got <span class="score-span"> {{ finalScore }} </span> out of <span class="score-span">  {{ maxPoints }} </span> points! </h3>
      </div>
      </div>
    </div>
  </section>
  <h6 class="navigate text-center" (click)="onNavigateToMenu()" >Back to menu</h6>
